<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Address</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Street</ion-label>
        <ion-input type="text" name="street" formControlName="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Area</ion-label>
        <ion-input type="text" name="area" formControlName="area"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text" name="city" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">State</ion-label>
        <ion-input type="text" name="state" formControlName="state"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Country</ion-label>
        <ion-input type="text" name="country" formControlName="country"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Postal Code</ion-label>
        <ion-input type="number" name="postalCode" formControlName="postalCode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text" name="location" formControlName="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Created On</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="createdOn" id="field_createdOn"></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
