<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label> {{ 'TAB1_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="charts">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label> {{ 'TAB5_TITLE' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="live">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label> {{ 'TAB3_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label> {{ 'TAB4_TITLE' | translate }} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
