<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Building</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Category</ion-label>
        <ion-input type="text" name="category" formControlName="category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" name="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Floors</ion-label>
        <ion-input type="number" name="floors" formControlName="floors"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Created On</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="createdOn" id="field_createdOn"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Updated On</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="updatedOn" id="field_updatedOn"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Address</ion-label>
        <ion-select id="field_address" formControlName="address" [compareWith]="compareAddress" required>
          <ion-select-option *ngIf="!form.value.address" [value]="null" selected></ion-select-option>
          <ion-select-option
            [value]="addressOption.id === building.address?.id ? building.address : addressOption"
            *ngFor="let addressOption of addresses; trackBy: trackAddressById"
            >{{addressOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div [hidden]="!(form.controls.?.dirty && form.controls.?.invalid)">
        <small [hidden]="!form.controls.?.errors?.required"> This field is required. </small>
      </div>
      <ion-item>
        <ion-label>Created By</ion-label>
        <ion-select id="field_createdBy" formControlName="createdBy" [compareWith]="compareUser" required>
          <ion-select-option *ngIf="!form.value.createdBy" [value]="null" selected></ion-select-option>
          <ion-select-option [value]="userOption" *ngFor="let userOption of users; trackBy: trackUserById"
            >{{userOption.login}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div [hidden]="!(form.controls.?.dirty && form.controls.?.invalid)">
        <small [hidden]="!form.controls.?.errors?.required"> This field is required. </small>
      </div>
      <ion-item>
        <ion-label>Updated By</ion-label>
        <ion-select id="field_updatedBy" formControlName="updatedBy" [compareWith]="compareUser" required>
          <ion-select-option *ngIf="!form.value.updatedBy" [value]="null" selected></ion-select-option>
          <ion-select-option [value]="userOption" *ngFor="let userOption of users; trackBy: trackUserById"
            >{{userOption.login}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div [hidden]="!(form.controls.?.dirty && form.controls.?.invalid)">
        <small [hidden]="!form.controls.?.errors?.required"> This field is required. </small>
      </div>
    </ion-list>
  </form>
</ion-content>
