<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Electrical Machines</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let electricalMachines of electricalMachines; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(electricalMachines)">
        <ion-label text-wrap>
          <p>{{electricalMachines.id}}</p>
          <p>{{electricalMachines.equipmentName}}</p>
          <p>{{electricalMachines.equipmentBrand}}</p>
          <p>{{electricalMachines.equipmentType}}</p>
          <p>{{electricalMachines.warranty | date:'medium'}}</p>
          <p>{{electricalMachines.batteryCapacity}}</p>
          <!-- todo: special handling for translating enum - {{'Status.' + electricalMachines.status}}" -->
          <p>{{electricalMachines.status}}</p>
          <p>{{electricalMachines.createdOn | date:'medium'}}</p>
          <p>{{electricalMachines.updatedOn | date:'medium'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, electricalMachines)"> {{ 'EDIT_BUTTON' | translate }} </ion-item-option>
        <ion-item-option color="danger" (click)="delete(electricalMachines)"> {{ 'DELETE_BUTTON' | translate }} </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!electricalMachines?.length">
    <ion-label> No Electrical Machines found. </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
