<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'TAB3_TITLE' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<!--The content below is only a placeholder and can be replaced.-->
<ion-content [fullscreen]="true">
  <h3>Monthly Cost echarts:</h3>
  <div echarts [options]="options" class="chart"></div>
  <h3>Temperature levels: <button (click)="getData()" style="padding: 0.5em">Get Data</button></h3>
  <div echarts [options]="options" [merge]="mergeOption" [loading]="loading" class="chart"></div>
  <h3>Pollution levels:</h3>
  <div echarts [options]="option2" class="chart"></div>
</ion-content>
